---
layout: effect
title: Fire Filter
---
<script type="module">
const canvas = document.querySelector("canvas");
const ctx = canvas.getContext("2d");
const W = canvas.width = 1920;
const H = canvas.height = 1080;

const ofc = new OffscreenCanvas(W, H);
const octx = ofc.getContext("2d");

function frame(t) {
  octx.reset();
  octx.fillStyle = '#000';
  octx.fillRect(0, 0, W, H);

  for (let i = 0; i < 2000; ++i) {
    octx.fillStyle = `rgba(255, ${255 - i / 8}, ${255 - i})`;
    octx.fillRect(
      960 + Math.sin(i / 8) * (i) / 2,
      1030 - i * Math.tan(i ** 4 + t / 1000),
      30, 50);
  }

  ctx.reset();
  ctx.fillStyle = '#000';
  ctx.fillRect(0, 0, W, H);
  ctx.filter = new CanvasFilter([
    {filter: "gaussianBlur", stdDeviation: 24},
    {filter:"colorMatrix", values: [
      4, 0, 0, 0, -1.5,
      0, 4, 0, 0, -1.5,
      0, 0, 4, 0, -1.5,
      0, 0, 0, 1, 0,
    ]},
  ]);
  ctx.drawImage(ofc, 0, 0);

  requestAnimationFrame(frame);
}
frame(0);
</script>
