:root {
  /* main doc font size */
  --font-size: max(16px, 0.9vw);
  /* size of the aside panel */
  --split-size: clamp(40vw, 550px, 50vw);
  /* size of the aside PRE font */
  --aside-font-size: min(20px, calc(2 * (clamp(40vw, 550px, 50vw) - 40px) / 84));
  /* size of the aside arrow */
  --arrow-size: 0.75vw;

  /* auto: remaining size of the page */
  --main-size: calc(100vw - var(--split-size));
}

html.nofont body {
  font-size: var(--font-size);
  line-height: 1.75em;
  letter-spacing: 0.011em;
  word-spacing: 0;
  font-family: arial;
}

html.nofont h1, html.nofont h2, html.nofont h3, html.nofont h4,
html.nofont h5, html.nofont h6 {
  font-family: arial;
  font-weight: 500;
  line-height: 0.94em;
  letter-spacing: 0em;
  word-spacing: 0.25em;
}

html.nofont h1 { font-size: calc(var(--font-size) * 1.25 * 1.3125); }
html.nofont h2 { font-size: calc(var(--font-size) * 3 * 1.3125); margin: 1.524em 0 0 0; }
html.nofont h3 { font-size: calc(var(--font-size) * 1.75 * 1.3125); margin: 1.524em 0 0.762em 0; }

html.nofont #home h1 { font-size: 3.28125em; }

html.nofont #home .entry {
  font-family: arial;
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.4em;
  letter-spacing: 0.0095em;
  word-spacing: 0.162em;
}

html.nofont main code {
  font-family: courier;
  font-weight: 600;
  font-size: 0.8125em;
  line-height: 1.6em;
  letter-spacing: 0.01153846em;
}


html.nofont main pre code, html.nofont aside {
  font-size: calc(2.34 * (min(100vw, 63ch) - 2ch) / 84);
  font-family: courier;
  font-weight: 300;
  line-height: 1.4625em;
  letter-spacing: 0em;

  /*letter-spacing: -0.1em;*/
  /*word-spacing: 0;*/
}

html.nofont main pre li {
  height: 1.4625em;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 1.75em;
  background-color: #F4EFE7;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rock Salt', sans-serif;
  color: #181923;
  line-height: 1.25em;
}

h1 {
  font-size: 1.25em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
  color: #181923;
}


h2 {
  font-size: 3em;
  margin: 2em 0 0 0;
}

h3 {
  font-size: 1.75em;
  margin: 2em 0 1em 0;
}

.author {
  text-align: right;
  line-height: 1.25em;
  margin: 1em 0 4em 0;
}

#home {
  max-width: 980px;
  margin: 50px auto;
  text-align: center;
  color: #181923;
}

#home h1 {
  font-size: 2.625em;
}

#home #display {
  margin-top: 60px;
}

#home .entry {
  width: 300px;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  background-color: #FFF;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
  border-radius: 6px;
  font-family: 'Rock Salt', sans-serif;
  display: inline-block;
}

#home .entry a {
  color: #000;
  text-decoration: none;
}

#home .entry img {
  display: block;
  width: 260px;
  height: 147px;
  object-fit: contain;
  border-radius: 6px;
  margin-bottom: 20px;
}

#home footer {
  margin-top: 60px;
}

#bkc {
  height: 100vh;
}

main {
  max-width: 63ch;
  color: #333;
  padding: 3.125em 3.125em 1em 3.125em;
  margin-left: var(--split-size);
}

main footer {
  margin: 50vh 0 0 0;
  font-size: 0.75em;
  text-align: right;
}

main footer span {
  display: block;
  text-align: center;
  font-family: 'Rock Salt', cursive;
  font-size: 1.375em;
  margin-bottom: 3.125em;
}

#home footer img, main footer img {
  display: inline-block;
  vertical-align: baseline;
}

a {
  color: #666;
  text-decoration: underline #666;
  transition: background-color 0.2s;
}

a:hover {
  color: #181923;
  text-decoration: underline #181923;
}

main code, main pre {
  font-family: 'Inconsolata', monospace;
  color: #000;
}

main p code {
  font-weight: 600;
  color: #000;
  white-space: nowrap;
  tab-size: 2;
  hyphens: none;
}

main pre { width: 100%; overflow-x: auto; box-sizing: border-box; display: none;
background-color: #181923; color: #EEE; font-size: calc(2 * (min(100vw, 63ch) -
2ch) / 84); padding: 2em 1ch; line-height: 1.25em; white-space: pre;
counter-reset: code-line; list-style: none; border-radius: 6px; }

main pre li {
  height: 1.25em;
  position: relative;
  width: 84ch;
}

main pre li:before {
  counter-increment: code-line;
  content: counter(code-line);
  color: #3A3F58;
  width: 3ch;
  display: inline-block;
  text-align: right;
  margin-right: 1ch;
}


main .ruler {
  position: relative;
  float: left;
  clear: left;
  left: -40px;
  margin-right: -40px;
  background-color: #000;
  width: 30px;
  opacity: 0;
}

canvas-demo {
  display: block;
}

main .ruler:nth-of-type(even) {
  background-color: #666;
}

aside {
  position: fixed;
  width: var(--split-size);
  box-sizing: border-box;
  height: 100vh;
  background-color: #181923;
  color: #EEE;
  font-family: 'Inconsolata', monospace;
  font-size: var(--aside-font-size);
  line-height: 1.1em;
  white-space: pre;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: auto;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

aside::after {
  content: "";
  position: fixed;
  left: var(--split-size);
  top: calc(50% - var(--arrow-size));
  width: 0;
  height: 0;
  border-top: var(--arrow-size) solid transparent;
  border-bottom: var(--arrow-size) solid transparent;
  border-left: var(--arrow-size) solid #181923;
}

aside ol {
  counter-reset: code-line;
  list-style: none;
  width: 84ch;
  padding: 25px 0;
  margin: auto;
  top: 0;
  height: 0;
  max-width: calc(var(--split-size) - 50px);
  transition: height 0.5s, top 0.5s;
  display: block;
  position: relative;
}

aside li {
  transition: all 0.5s ease-in-out;
  height: 1.1em;
  overflow: visible;
  position: relative;
}

aside li:before {
  counter-increment: code-line;
  content: counter(code-line);
  color: #3A3F58;
  width: 3ch;
  display: inline-block;
  text-align: right;
  margin-right: 1ch;
  transition: all 0s ease-in-out 0.5s;
  opacity: 1.0;
}

aside li.dead {
  transition: all 0.5s ease-in-out;
  transform: translate(-100%, 0);
  opacity: 0;
  height: 0;
}

aside li.dead:before {
  counter-increment: none;
}

aside li.born {
  transform: translate(100%, 0);
  opacity: 0;
  height: 0;
}

aside li.born:before {
  opacity: 0;
}

aside li.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
}

aside *::selection {
  color: #959DCB !important;
  background-color: #343851 !important;
}

aside .low {
  filter: opacity(0.5) contrast(0.5);
}

main svg[display=true] {
  object-fit: contain;
  width: 100%;
  font-size: clamp(0.68em, 1.4vw, 1em);
}

@media only screen and (max-width: 860px) {
  main {
    margin: 0 auto;
  }
  main pre {
    display: block;
  }
  aside {
    display: none;
  }
}

#polyfillWarning {
  border-radius: 2px;
  background-color: #F4D4CD;
  border: 1px solid #C90000;
  padding: 1.2em 1.2em;
  box-sizing: border-box;
  font-size: 0.75em;
  line-height: 1.2em;
  color: #200;
  margin-bottom: 50px;
}

#polyfillWarning p {
  margin: 0;
}

.github {
  width: 1em;
  height: 1em;
  vertical-align: baseline;
}


/* Syntax highlight */
pre code { color: #959dcb; }
pre code ::selection, pre code::selection { background-color:#32374d;color:#959dcb}
.token.script.language-javascript { color: #a6accd; }
.token.comment, .token.block-comment, .token.prolog, .token.doctype, .token.cdata { color: #676e95; }
.token.attr-name, .token.namespace, .token.deleted { color: #bb80b3; }
.token.function, .token.function-name { color: #82aaff; }
.token.unit, .token.url, .token.parameter, .token.boolean, .token.number { color: #f78c6c; }
.token.color, .token.hexcode, .token.builtin, .token.property, .token.class, .token.class-name, .token.constant, .token.symbol { color: #ffcb6b; }
.token.id, .token.selector, .token.important, .token.atrule, .token.keyword { color: #c792ea; }
.token.pseudo-class, .token.pseudo-element, .token.inserted, .token.attribute, .token.string, .token.char, .token.attr-value, .token.regex, .token.variable { color: #c3e88d; }
.token.punctuation, .token.operator, .token.entity, .token.url { color: #89ddff; }
.token.tag { color: #f07178; }
.token.deleted { color: #ff5370; }
.token.important, .token.bold { font-weight: bold; }
.token.italic { font-style: italic; }
.token.entity { cursor: help; }


