---
layout: main.njk
author: Fernando Serboncini
author_link: https://fserb.com
date: 6/11/2021
---

<div id="bkc">
<aside>
<div id=ed title="Editor"><div id=ed_opts>
<div title="JSFiddle" id=ed_jsfiddle></div>
<div title="Codepen" id=ed_codepen></div>
</div></div>
<ol></ol></aside>
<main>
<h1><a href="{{ baseURL }}">Better Know Canvas</a></h1>

<h2>{{ title }}</h2>
<div class="author">by <a href="{{ author_link }}">{{ author }}</a><br>
{{ date | date("MMMM y") }}<br></div>

{{ content }}

<footer><span>Ø</span>

<p><a href="{{ baseURL }}"><b>Better Know Canvas</b></a> created by <a href="https://fserb.com">Fernando Serboncini</a>
<a href='https://github.com/fserb/bkc/blob/master{{ srcFile }}?plain=1'>
<img alt='github' class='github' src='assets/github.png' width=14 height=14></a>
</footer>
</main>
</div>

<script type="module">
import BKC from "./js/bkc.js";
BKC();

import polyfillWarning from "./js/canvas-polyfill.js";
polyfillWarning(document.querySelector("main"));
</script>

