---
layout: main.njk
author: Fernando Serboncini
author_link: https://fserb.com
date: 6/11/2021
---

<div id="bkc">
<aside class="hljs"><ol></ol></aside>
<main>
<h1><a href="/">Better Know Canvas</a></h1>

<h2>{{ title }}</h2>
<div class="author">by <a href="{{ author_link }}">{{ author }}</a><br>
{{ date | date("MMMM y") }}
<a href='https://github.com/fserb/bkc/blob/master/{{ srcFile }}?plain=1'>
<img class='github' src='/assets/github.png' width=14 height=14></a>
</div>

{{ content }}

<footer>Ø</footer>
</main>
</div>

<script type="module">
import BKC from "./{{rootPath}}/js/bkc.js";
BKC();
</script>
