---
title: ""
---
<!doctype html>
<html lang="en">
<head>
  <base href="{{ baseURL }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="Description" content="A collection of advanced web graphics tutorials.">
  <title>{{ title }}{{ " &middot; " if title }}Better Know Canvas</title>
  <link rel="shortcut icon" type="image/jpg" href="assets/favicon.png"/>
  <meta http-equiv="origin-trial" content="AhLQm4ICiudjd0hChY39JD0RgNfBTsrra93PD/2pTGC05WgqUq//jwCDNVDQo0KVAPPjF/xi+IX4xeP8pn+bdA8AAABUeyJvcmlnaW4iOiJodHRwczovL2NhbnZhcy5yb2Nrczo0NDMiLCJmZWF0dXJlIjoiTmV3Q2FudmFzMkRBUEkiLCJleHBpcnkiOjE2NDU1NzQzOTl9">
  {% if not dev %}<script defer data-domain="canvas.rocks" src="https://metaphora.co/plausible.js"></script>{% endif %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rock+Salt&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="bkc.css">

  <script type="module" src="js/bkc.js"></script>
</head>
<body>



{{ content }}

</body>
</html>
