---
layout: page
---

<div id="home">

<h1>Better Know Canvas</h1>

<p>A collection of advanced web graphics tutorials.</p>

<div id="display">


{%- for article in search.pages("layout=article.njk") | reverse -%}
<div class="entry"><a href="{{article.data.relativePath}}"><img alt="{{ article.data.title }}" src="{{article.data.relativePath}}/shot.webp">{{ article.data.title }}</a></div>
{%- endfor -%}

</div>

<footer>
created by <a href="https://fserb.com">Fernando Serboncini</a> in 2021.
<a href="https://github.com/fserb/bkc"><img alt="github" src="assets/github.png" width=14 height=14></a>
</footer>

</div>
