---
layout: page
---

<div id="home">

<h1>Better Know Canvas</h1>

<p>A collection of advanced web graphics tutorials.</p>

<div id="display">

<div class="entry"><a href="fire"><img src="fire/shot.png">Fire Filter</a></div>

</div>

<footer>
created by <a href="https://fserb.com">Fernando Serboncini</a> in 2021.
<a href="https://github.com/fserb/bkc"><img src="assets/github.png" width=14 height=14></a>
</footer>

</div>
